/*Font*/
@font-face {
    font-family: myFont;
    src: url(Font/HelvetidoodlebyEdT.ttf);
}
@font-face {
    font-family: myFont2;
    src: url(Font/Lost-Leonenst\ Bold.otf);
}

/*Index*/

.container .subheading{
    height: 1400px;
    overflow-y: hidden;
}

nav li{
    display: inline;
    list-style: none;
}

nav{
    background-color: black;
    text-align: center;
    padding: 1px;
}

li a{
    color: whitesmoke;
    padding: 100px;
    text-decoration: none;
}

.container{
    width: 1400px;
    height: auto;
    background-color: darkred;
    overflow: hidden;
}

.container .subheading .logo img{
    width: 1000px;
    height: auto;
    padding-left: 170px;
    padding-top: 75px;
    opacity: 85%;
    filter: drop-shadow(1px 1px 10px black);
}

h1{
    text-align: right;
    font-size: 150px;
    font-weight: bolder;
    position: relative;
    bottom: 700px;
    right: 250px;
    color: aliceblue;
    font-family: myFont;
    filter: drop-shadow(3px 3px 3px black);
}

.subheading p{
    text-align: right;
    font-size: xx-large;
    font-weight: bolder;
    position: relative;
    bottom: 800px;
    right: 320px;
    color: aliceblue; 
    font-family: myFont2;
    filter: drop-shadow(3px 3px 3px black);
}

.subheading form button{
    position: relative;
    left: 390px;
    width: 600px;
    background-color: darkorange;
    font-size: 50px;
    bottom: 280px;
    filter: drop-shadow(0px 0px 5px black);
    cursor: pointer;
}

.container .pictures{
    width: 100px;
    height: 100px;
    position: relative;
    bottom: 500px;
    display: flex;
    align-items: center;
    margin-left: 120px; 
    filter: drop-shadow(0px 0px 5px black);  
}

.container .pictures #img1{
    width: 350px;
    padding: 20px;
    transition: transform 0.5s;
}

.container .pictures #img1:hover{
    transform: scale(1.2);
}

.container .pictures #img2{
    width: 350px;
    rotate: 90deg;
    padding: 20px;
    transition: transform 0.5s;
}

.container .pictures #img2:hover{
    transform: scale(1.2);
}

.container .pictures #img3{
    width: 350px;
    padding: 20px;
    transition: transform 0.5s;
}

.container .pictures #img3:hover{
    transform: scale(1.2);
}

/* About */

.container .about{
    height: 1150px;
    line-height: 30px;
}
.about{
    text-align: center;
    color: aliceblue;
    font-size: large;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50px;
}

/*Buy*/

.container .buy{
    height: 800px;
}

h2{
    text-align: center;
    font-size: 50px;
    color: orange;
    filter: drop-shadow(3px 3px 3px black);
}

.buy img{
    width: 400px;
    height: auto;
    padding-left: 500px;
    filter: drop-shadow(1px 1px 30px black);
    position: relative;
    bottom: 10px;
}

.buy form{
    width: 200px;
    padding-right: 50px;
    padding-left: 50px;
    margin-left: 550px;
    color: aliceblue;
    filter: drop-shadow(3px 3px 1px black);
}

.buy button{
    width: 300px;
    height: auto;
    position: relative;
    left: -50px;
    top: 20px;
    font-size: 50px;
    background-color: orange;
    filter: drop-shadow(3px 3px 3px black);
    cursor: pointer;
}
    

/*Contact*/

.contact {
    color: orange;
    width: 500;
    height: auto;
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
    zoom: 1.7;
    filter: drop-shadow(3px 3px 1px black);
}

.contact form{
    font-size: large;
    color: whitesmoke;
}

.contact button{
    color: black;
    background-color: aliceblue;
    width: 100px;
    height: auto;
    font-size: small;
    position: relative;
    bottom: 30px;    
}


/*Footer*/
footer {
    position: relative;
    bottom: 10px;
    font-size: large;
    font-family:'Times New Roman', Times, serif;
    font-weight: 500;
    left: 10px;
}


/*All*/

*{
    font-family: myFont2;
}


